<form action="{{ path('admin.livre.delete', {id: livre.id}) }}" method="GET" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce livre ?')">
	<button type="submit" class="btn btn-danger">
		<i class="bi bi-trash-fill"></i>
		Supprimer
	</button>
</form>
