{% extends 'base.html.twig' %}

{% block title %}Admin des catégories{% endblock %}

{% block body %}

<section class="container mt-4">
    <h1 class="text-center">Administration des catégories</h1>
    <a href="{{ path('admin.categorie.create')}}" class="btn btn-primary">Ajouter une catégorie</a>
    <div class="blog-card-list mt-4">
        {% for categorie in categories %}
            {% include 'components/categorie_card.html.twig' %}
        {% endfor %}
    </div>
</section>

{% endblock %}