<form action="{{ path('admin.auteur.delete', {id: auteur.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cet auteur ?')">
	<input type="hidden" name="token" value="{{ csrf_token('delete' ~ auteur.id) }}">
	<button type="submit" class="btn btn-danger">
		<i class="bi bi-trash-fill"></i>
		Supprimer
	</button>
</form>
