{% extends 'base.html.twig' %}

{% block title %}Admin des auteurs{% endblock %}

{% block body %}

<section class="container mt-4">
    <h1 class="text-center">Administration des auteurs</h1>
    <a href="{{ path('admin.auteur.create')}}" class="btn btn-primary">Ajouter un auteur</a>

    <div class="blog-card-list mt-4">
        {% for auteur in auteurs %}
            {% include 'components/auteur_card.html.twig' %}
        {% endfor %}
    </div>
</section>

{% endblock %}
